*{
  margin: 0;
  padding: 0;
  text-align: center;
}

div{
  margin: 0 auto;
  padding: 15px 0;
}

.flex{
  display: flex;
  justify-content: center;
}

.flex-row{
  flex-direction: row;
}

.list{
  padding: 15px 25px;
}